---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Pueblo,%20CO&open_at=1615235905&term=hamburger
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sS-y4VqLwhIUjli7m2nntUiv1_SslKsjYXB8zpwWY0kt3gkKNGfwBeufUZL4dwMbdlyYjAvbxcuC8S1DUijtab0YkzGguCd0cNbQ9bDvQXM6aTtIdHnP2S9GYbFFYHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 99152cc59e6b2bb5
      Ratelimit-Remaining:
      - '4987'
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Resettime:
      - '2021-03-09T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-8665dfcd87-n4wl4; site=public_api_v3
      X-Proxied:
      - 10-69-172-176-uswest2bprod
      X-Extlb:
      - 10-69-172-176-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "8wGSggWsopmqoCyd9bY-dw", "alias": "bingo-burger-pueblo-4",
        "name": "Bingo Burger", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/KyMKYZ2W8nyjocqzkrrEog/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/bingo-burger-pueblo-4?adjust_creative=og9iFEJX9mzjVaTLTJWlVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=og9iFEJX9mzjVaTLTJWlVg",
        "review_count": 406, "categories": [{"alias": "burgers", "title": "Burgers"}],
        "rating": 4.0, "coordinates": {"latitude": 38.268043, "longitude": -104.609794},
        "transactions": ["pickup", "delivery"], "price": "$$", "location": {"address1":
        "101 Central Plz", "address2": "", "address3": "", "city": "Pueblo", "zip_code":
        "81003", "country": "US", "state": "CO", "display_address": ["101 Central
        Plz", "Pueblo, CO 81003"]}, "phone": "+17192258363", "display_phone": "(719)
        225-8363", "distance": 3190.6682549996963}, {"id": "TJTZuf8hdm2SpqrCKV5n9A",
        "alias": "brues-alehouse-pueblo-3", "name": "Brues Alehouse", "image_url":
        "https://s3-media3.fl.yelpcdn.com/bphoto/Dd1cNms4g4u5g9d5FPmKdw/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/brues-alehouse-pueblo-3?adjust_creative=og9iFEJX9mzjVaTLTJWlVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=og9iFEJX9mzjVaTLTJWlVg",
        "review_count": 391, "categories": [{"alias": "brewerie[...]
