---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=05xKdiG1Pgxrz9U6o2s9GbAWr7ML6qhl&location=mountain%20view,%20ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 07 Mar 2021 20:31:40 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"mountain
        view, ca"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Mountain
        View","adminArea5Type":"City","adminArea4":"Santa Clara County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282042056","unknownInput":"","type":"s","latLng":{"lat":37.39008,"lng":-122.08139},"displayLatLng":{"lat":37.39008,"lng":-122.08139},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=05xKdiG1Pgxrz9U6o2s9GbAWr7ML6qhl&type=map&size=225,160&locations=37.39008,-122.08139|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-899227312"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Mountain
        View","adminArea5Type":"City","adminArea4":"Contra Costa County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode"[...]
