---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=05xKdiG1Pgxrz9U6o2s9GbAWr7ML6qhl&location=mountain%20view,%20ca
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 07 Mar 2021 20:31:39 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"mountain
        view, ca"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Mountain
        View","adminArea5Type":"City","adminArea4":"Santa Clara County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282042056","unknownInput":"","type":"s","latLng":{"lat":37.39008,"lng":-122.08139},"displayLatLng":{"lat":37.39008,"lng":-122.08139},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=05xKdiG1Pgxrz9U6o2s9GbAWr7ML6qhl&type=map&size=225,160&locations=37.39008,-122.08139|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-737376671"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Mountain
        View","adminArea5Type":"City","adminArea4":"Contra Costa County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode"[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=220544db6bf0ced103d53f15f5a991d5&exclude=minutely,alerts&lat=37.39008&lon=-122.08139&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.3901,"lon":-122.0814,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1615149099,"sunrise":1615127443,"sunset":1615169283,"temp":59.18,"feels_like":49.98,"pressure":1020,"humidity":44,"dew_point":37.31,"uvi":4.56,"clouds":1,"visibility":10000,"wind_speed":11.5,"wind_deg":350,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1615147200,"temp":59.18,"feels_like":51.8,"pressure":1020,"humidity":44,"dew_point":37.31,"uvi":4.85,"clouds":1,"visibility":10000,"wind_speed":8.25,"wind_deg":320,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1615150800,"temp":59.29,"feels_like":51.17,"pressure":1020,"humidity":42,"dew_point":36.23,"uvi":4.56,"clouds":13,"visibility":10000,"wind_speed":9.24,"wind_deg":315,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1615154400,"temp":59.7,"feels_like":51.66,"pressure":1018,"humidity":45,"dew_point":38.35,"uvi":3.45,"clouds":15,"visibility":10000,"wind_speed":9.78,"wind_deg":314,"weather":[{"id":801,"main":"Clouds","description":"few
  [...]
