---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=Denver,%20CO&open_at=1615235905&term=hamburger
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sS-y4VqLwhIUjli7m2nntUiv1_SslKsjYXB8zpwWY0kt3gkKNGfwBeufUZL4dwMbdlyYjAvbxcuC8S1DUijtab0YkzGguCd0cNbQ9bDvQXM6aTtIdHnP2S9GYbFFYHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 11d7ae4b1c494f1f
      Ratelimit-Remaining:
      - '4989'
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Resettime:
      - '2021-03-09T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-8665dfcd87-nhgvt; site=public_api_v3
      X-Proxied:
      - 10-69-90-30-uswest2aprod
      X-Extlb:
      - 10-69-90-30-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "-EdQ9oCBEnCjRcW4ihOYoA", "alias": "hamburguesas-don-jesus-denver",
        "name": "Hamburguesas Don Jesus", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/NqsbwSn91vyiAa53T29HrQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/hamburguesas-don-jesus-denver?adjust_creative=og9iFEJX9mzjVaTLTJWlVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=og9iFEJX9mzjVaTLTJWlVg",
        "review_count": 74, "categories": [{"alias": "mexican", "title": "Mexican"},
        {"alias": "burgers", "title": "Burgers"}, {"alias": "hotdog", "title": "Hot
        Dogs"}], "rating": 4.5, "coordinates": {"latitude": 39.7295799255371, "longitude":
        -105.021514892578}, "transactions": ["delivery"], "price": "$", "location":
        {"address1": "800 Decatur St", "address2": "", "address3": "", "city": "Denver",
        "zip_code": "80204", "country": "US", "state": "CO", "display_address": ["800
        Decatur St", "Denver, CO 80204"]}, "phone": "+17203666906", "display_phone":
        "(720) 366-6906", "distance": 4431.152773529416}, {"id": "uNoJD6h4y798_E3OP4Z5ew",
        "alias": "snarfburger-denver-3", "name": "Snarfburger", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/nwj7kNcclI-yJtow3mEhfw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/snarfburger-denver-3?adjust_creative=og9iFEJX9mzjVaTLTJWlVg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=og9iFEJX9mzjVaTLTJWlVg",
        "review_count": 36, "categories": [{"alias": "burgers", "title": "Burgers[...]
